@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.publicLayout {
  .main {
    background-color: $background-white;
  }
}

.pageContainer {
  padding: $spacing-2xl 0;
  min-height: 60vh;
}

.pageHeader {
  text-align: center;
  margin-bottom: $spacing-3xl;

  .pageTitle {
    color: $primary-color;
    font-size: $font-size-3xl;
    margin-bottom: $spacing-lg;

    @include mobile {
      font-size: $font-size-2xl;
    }
  }

  .pageSubtitle {
    color: $text-light;
    font-size: $font-size-xl;
    max-width: 600px;
    margin: 0 auto;
    line-height: $line-height-relaxed;

    @include mobile {
      font-size: $font-size-lg;
    }
  }
}

.contentSection {
  max-width: 800px;
  margin: 0 auto;
  
  h2 {
    color: $primary-color;
    font-size: $font-size-2xl;
    margin-top: $spacing-2xl;
    margin-bottom: $spacing-lg;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    color: $text-dark;
    line-height: $line-height-relaxed;
    margin-bottom: $spacing-lg;
  }

  ul {
    color: $text-dark;
    line-height: $line-height-relaxed;
    margin-bottom: $spacing-lg;

    li {
      margin-bottom: $spacing-sm;
    }
  }

  section {
    margin-bottom: $spacing-2xl;

    h3 {
      color: $primary-color;
      font-size: $font-size-xl;
      margin-top: $spacing-xl;
      margin-bottom: $spacing-md;
    }
  }
}

.policyContent {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: $spacing-2xl;
}

.policyIframe {
  width: 100%;
  min-height: 800px;
  border: 1px solid $border-color;
  border-radius: $border-radius-md;
  background: $background-white;

  @include mobile {
    min-height: 600px;
  }
}

.loadingState,
.errorAlert {
  text-align: center;
  padding: $spacing-2xl;
  margin: $spacing-2xl 0;
  border-radius: $border-radius-md;
}

.loadingState {
  color: $text-light;
}

.errorAlert {
  background-color: $error-bg;
  color: $error-color;
  border: 1px solid $error-color;
}
